.alert,
.title {
  padding: 1rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.title {
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .waterfall {
    width: 100%;
    margin: 0 auto;
    column-count: 2;
    column-gap: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 992px) {
  .waterfall {
    column-count: 3;
    column-gap: 1.8rem;
    padding: 2rem;
  }
}

@media screen and (min-width: 1320px) {
  .waterfall {
    width: 1320px;
  }
}
