.container,
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-top: 8rem;

  .logo_img {
    width: 5.4rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .primaryMain {
      font-size: 1.7rem;
      font-weight: 600;
      padding: 1rem 0 0.5rem 0;
    }

    .primarySub {
      font-size: 0.9rem;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }
}

.signup_link {
  font-weight: 400;
  margin-top: 2rem;
}

.alert {
  width: 100%;
  height: 3rem;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
