.card {
  margin-top: 5rem;
  width: 100vw;
  break-inside: avoid;
  box-sizing: border-box;
  position: relative;
}

.author {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  padding-left: 1rem;
  position: absolute;
  top: -3.5rem;

  &__img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 0.8rem;
  }

  &__name {
    font-weight: 500;
  }
}

.photo {
  width: 100%;

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.information {
  padding: 1rem;

  &__title {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
  }

  &__content {
    font-size: 0.9rem;
    color: #5d5d5d;
  }
}

.tags {
  padding: 1rem;
  &__title {
    padding-bottom: 1.2rem;
  }

  .tag {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    background-color: #e7e7e7;
    color: #7d7d7d;
    border-radius: 2px;
    margin-right: 0.5rem;
    letter-spacing: 0.5px;
  }
}

.photos__title {
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(206, 206, 206);
}

@media screen and (min-width: 768px) {
  .photo {
    padding: 1rem;
    padding-top: 0;
    height: 45rem;

    &__img {
      height: 100%;
      object-fit: contain;
    }
  }

  .waterfall {
    width: 100%;
    margin: 0 auto;
    column-count: 2;
    column-gap: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 992px) {
  .photo {
    position: relative;

    &__img {
      max-width: 50rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .waterfall {
    column-count: 3;
    column-gap: 1.8rem;
    padding: 2rem;
  }
}

@media screen and (min-width: 1320px) {
  .waterfall {
    width: 1320px;
  }
}
