.form,
.email,
.password,
.button_container {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  padding-top: 3rem;
  align-items: center;
}

.email,
.password {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.email {
  padding-bottom: 0.7rem;
}

.label {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.7rem;
  border-width: 1px;
  border-radius: 3px;
}

.button_container {
  width: 100%;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;

  .button {
    width: 100%;
    padding: 0.7rem;
    background-color: black;
    color: white;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 0;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 520px;
  }
}
