.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;

  .logoBox {
    width: 2.1rem;
    height: 2.1rem;
    padding-left: 1rem;
    padding-top: 0.3rem;

    .logo {
      width: 100%;
      height: 100%;
    }
  }

  .searchBar {
    position: relative;
    width: calc(100vw - 18px - 2.1rem);
    height: 3rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    box-sizing: border-box;

    .searchInput {
      width: 100%;
      height: 0.5rem;
      padding: 1.2rem;
      padding-left: 3rem;
      border: none;
      border-radius: 1.5rem;
      background-color: #eee;
      font-size: 0.8rem;
    }

    .searchButton {
      position: absolute;
      cursor: pointer;
      position: absolute;
      top: 1.1rem;
      left: 1.5rem;
    }
  }

  .hamburgerContainer {
    padding: 0.5rem;
    padding-top: 0.8rem;
    padding-right: 0.8rem;
    position: relative;

    .hamburger {
      width: 18px;
      height: 2.2px;
      background: #4c4c4c;
      display: block;
      position: relative;

      &::before,
      &::after {
        content: '';
        width: 18px;
        height: 2.2px;
        background: #4c4c4c;
        position: absolute;
        left: 0;
      }

      &::before {
        top: 5px;
      }

      &::after {
        bottom: 5px;
      }
    }
  }

  .nav__desktop {
    display: none;
  }
}

.nav {
  background-color: white;
  width: 180px;
  height: 180px;
  position: absolute;
  right: 1em;
  top: 3.7rem;
  z-index: 99;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
  transform: scale(0, 0);
  transform-origin: top right;
  transition: transform 0.1s;
  opacity: 0;

  &__ul {
    padding: 1.5rem;

    li {
      margin-bottom: 1rem;
      color: #6b6b6b;
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }
}

.toggle {
  display: none;
}

.toggle:checked ~ .nav {
  transform: scale(1, 1);
  opacity: 1;
}

ul {
  list-style: none;
  a {
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    .nav,
    .hamburgerContainer {
      display: none;
    }

    .nav__desktop {
      display: block;
      width: 250px;

      .desktop__ul {
        display: flex;
        padding-top: 0.2rem;

        li {
          margin-left: 1rem;
          color: #757575;
          font-size: 0.9rem;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: black;
          }
        }
      }
    }

    .searchBar {
      width: calc(100vw - 250px - 2.1rem);
    }
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1320px) {
}
