.photoCard {
  margin-top: 5rem;
  width: 100vw;
  break-inside: avoid;
  box-sizing: border-box;
  position: relative;
}

.author {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  position: absolute;
  top: -3.5rem;

  &__img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 0.8rem;
  }

  &__name {
    font-weight: 500;
  }
}

.photo {
  width: 100%;

  &__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.button {
  display: flex;
  padding: 1rem;

  .buttonBox {
    width: 42px;
    height: 35px;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    border-color: rgb(170, 170, 170);
    text-align: center;
    margin-right: 0.6rem;
    cursor: pointer;

    .heartIcon {
      width: 1rem;
      height: 1rem;
      color: rgb(125, 125, 125);
    }
  }
}

@media screen and (min-width: 768px) {
  .photoCard {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    transition: all 0.1s;

    .link {
      &:hover + .author {
        opacity: 1;
      }
    }
  }

  .photo {
    width: 47%;
    transition: all 0.1s;

    &:hover {
      -webkit-filter: brightness(0.8);
    }
  }

  .author {
    top: unset;
    bottom: 0;
    opacity: 0;
    color: white;
  }

  .button {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .photo {
    width: 30%;
  }
}

@media screen and (min-width: 1320px) {
  .photo {
    width: calc((1320px - 120px) / 3);
  }
}
